@{
    ViewData["Title"] = "Guider";
}

<h1 style="color:white;">Här är sidan för Guider</h1>
<body>
    <div class="Guiderimg">
        <div class="d1">
            <a href="@Url.Action("treeguide", "Home")">
                <img src="~/images/Traguiden141x141.png" alt="" />
            <h2>Träguiden</h2>
            </a>
        </div>
        <div class="d2">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/Skruksolan.png" alt="" />
            <h2>Skruvguiden</h2>
            </a>
        </div>
        <div class="d3">
            <a href="@Url.Action("isoguide", "Home")">
                <img src="~/images/Isolering.png" alt="" />
            <h2>Isolerings- <br />guiden</h2>
            </a>
        </div>
        <div class="d4">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/Plattsattarskolan.png" alt="" />
            <h2>Sten och <br /> Plattsättar- <br />guiden</h2>
            </a>
        </div>
        <div class="d5">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/Stodmurarskolan.png" alt="" />
            <h2>Stödmurs- <br />guiden</h2>
            </a>
        </div>
        <div class="d6">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/Golv_2.jpg" alt="" />
            <h2>Golvläggar- <br />guiden</h2>
            </a>
        </div>
        <div class="d7">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/Jord1.png" alt="" />
            <h2>Kökträdgård-<br />sguiden</h2>
            </a>
        </div>
        <div class="d8">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/PlanteraSallad.png" alt="" />
            <h2>Jordguiden</h2>
            </a>
        </div>
        <div class="d9">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/furutrall.jpg" alt="" />
            <h2>Trallguiden</h2>
            </a>
        </div>
        <div class="d10">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/Staket1.png"  alt="" />
            <h2>Staketguiden</h2>
            </a>
        </div>
        <div class="d11">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/TakTegel.png" alt="" />
            <h2>Takguiden</h2>
            </a>
        </div>
        <div class="d12">
            <a href="@Url.Action("GuideExmpl", "Home")">
                <img src="~/images/fritidshus2brygga.png" alt="" />
            <h2>Brygguiden</h2>
            </a>
        </div>
    </div>
</body>